* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-size: 100%;
    font-family: 'Lato';
    text-align: center;
    background-color: #023047;
    color: #ffffff;
}

#webExp {
    color: #000000;
    background-color: #ffffff;
    padding: 60px;
}

#favMovies {
    color: #023047;
    background-color: #ffffff;
}

#favWebsites, #favMovies {
    padding: 25px;
}

.navHeader {
    position: relative;
    padding: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.clearFix {
    clear: both;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 4px; 
}

.column {
    flex: 25%;
    padding: 0 15px;
}

.aboutTxt {
    margin-right: 150px;
    top: 25%;
    transform: translateY(25%);
}

.langList {
    list-style: none;
    font-weight: bold;
}

.webListItem {
    list-style-position: inside;
    padding: 5px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #219EBC;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #fb8500;
    border-radius: 5px;
}

h1 {
    color: #fb8500;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h2, h3 {
    color: #8ecae6;
    padding-top: 15px;
    padding-bottom: 15px;
}

p, li {
    font-size: 16px;
}

ol li a {
    color: #ffffff;
    text-decoration: none;
}

ol li a:hover {
    color: #fb8500;
}

table {
    left: 55%;
    transform: translateX(55%);
    margin-bottom: 35px;
}

th, td {
    border: 1px solid #023047;
    padding: 10px;
}

th {
    background-color: #8ecae6;
    height: 60px;
}

footer {
    background-color:#023047;
    color: #8ecae6;
    padding: 20px;
}